.card {
  position: relative;
  padding: 16px;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.header {
  font-size: 20px;
  font-weight: 600;
}

.body {
  font-size: 16px;
  font-weight: 400;
}

.footer {
  font-size: 16px;
  font-weight: 400;
}